body{
    margin: 0;
    text-align: center;
}
.top-container{
    background-color: hsl(48, 63%, 90%);
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 65vh;
}

h1{
    font-family: "Allura",cursive;
    font-size: 10rem;
    color: #89986D;
    margin: 50px auto 0 auto;
}

.bg-img1{
    position:absolute;
    right: 50px;
    background-color: hsl(48, 63%, 90%);
    width: 450px;
    top: 50px;
}
.bg-img2{
    position:absolute;
    left: 30px;
    background-color: hsl(48, 63%, 90%);
    width: 450px;
    top: 450px;
}

h2 {
  color: #89986D;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: normal;
  padding-bottom: 10px; 
}

.pro{
    text-decoration: underline;
}

.bg-img3{
    position:absolute;
    left: 34%;  
    background-color: hsl(48, 63%, 90%);
    width: 450px;
    top: 650px;
}

.pfp{
    border-radius: 100%;
    margin-top: 100px;
    height: 200px;
    width:200px;
}

h3{
    font-size: 45px;
    font-family: "Montserrat", san-serif;
    color: #89986D;
    font-weight: normal;

}

.text{
    font-size: 25px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
    margin-bottom: 100px;
}
hr
 {
    border: dotted #C5D89D 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap:10px ;
    row-gap: 10px;
    text-align: left;
    width: 75%;
    margin: 100px auto 0 auto;
    
}
.coding > p {
    font-size: 20px;
    font-family: "Montserrat", san-serif;
}

.fav{
    display: block;
    margin-top: 40px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.swim{
    margin-top: 25px;
    font-size: 20px;
    font-family: "Montserrat", san-serif;
}
.typing{
    width: 250px;
    height: 250px;
}


.headcontact{
    font-size: 2.5 rem;
    font-family: "Montserrat", sans-serif;
}

.subcontact{
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -1px;
    font-family: "Montserrat", sans-serif;
}

.textcontact{
    font-size: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.btn{
    margin-top: 50px;
    font-size: 15px;
    margin-bottom: 80px;
    background-color: #89986D;
    padding: 20px;
    border-radius: 10px;
    border-color: #89986D;
    color: white;
}
.btm-container{
    background-color:hsl(48, 63%, 90%);
        padding: 50px 0 50px;
    text-align: center;

}
a{
    color:#89986D;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 20px;
}
.copyright{
    color: #89986D;
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
    font-size: 20px;
}
